@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/exo-2-v21-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/exo-2-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v17-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v17-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Familjen Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/familjen-grotesk-v8-latin-500.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  font-family: "PT Sans", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-section {
  padding: 109px 0 69px;
}

.hero {
  display: flex;
  align-items: none;
  justify-content: start;
  gap: 67px;
  flex-direction: column;
}

.hero__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.hero__content-wrapper {
  max-width: 560px;
}

.hero__title {
  margin-bottom: 40px;
  font-size: 52px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 65px;
  font-family: "Exo 2", sans-serif;
}

.hero__text {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.hero__link {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(54, 55, 56);
  line-height: 24px;
  padding: 5px 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s linear;
}
.hero__link::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 206, 80);
  position: absolute;
  left: 0;
  top: 92%;
  bottom: 0;
  transition: all 0.3s linear;
  z-index: -1;
}
.hero__link:hover::before {
  top: 0;
}
.hero__link:hover {
  color: rgb(11, 117, 114);
}

.hero__list {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-around;
  gap: 64px;
  padding: 40px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.hero__item {
  max-width: 232px;
  width: 100%;
}

.hero__item-line {
  position: relative;
}
.hero__item-line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  bottom: 0;
  left: -64px;
  margin: auto 0;
  background-color: rgb(215, 215, 221);
}

.hero__icon-img {
  margin-bottom: 24px;
}

.hero__subtitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 27px;
  font-family: "Exo 2", sans-serif;
}

.hero__subtext {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.hero__tablet-img {
  display: none;
}

.hero__mobile-img {
  display: none;
}

@media (max-width: 1086px) {
  .hero-section {
    padding: 117px 0 100px;
  }
  .hero__top-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 73px;
    flex-direction: column;
  }
  .hero__content-wrapper {
    max-width: 100%;
    text-align: center;
  }
  .hero__title {
    margin-bottom: 49px;
    font-size: 44px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 55px;
    font-family: "Exo 2", sans-serif;
  }
  .hero__text {
    margin-bottom: 44px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(107, 107, 108);
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
  }
  .hero__detskop-img {
    display: none;
  }
  .hero__tablet-img {
    display: block;
  }
}
@media (max-width: 1000px) {
  .hero__list {
    flex-direction: column;
    display: flex;
    align-items: top;
    justify-content: space-around;
    gap: 16px;
    padding: 0 0;
    border-radius: 0;
    box-shadow: none;
    background-color: none;
  }
  .hero__item {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 32px;
    padding: 32px 20px 40px 32px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
  }
  .hero__item-line {
    position: relative;
  }
  .hero__item-line::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero__tablet-img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 600px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
  }
  .hero-section {
    padding: 75px 0 34px;
  }
  .hero__top-wrapper {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 40px;
  }
  .hero__content-wrapper {
    text-align: start;
  }
  .hero__title {
    margin-bottom: 32px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 35px;
    font-family: "Exo 2", sans-serif;
  }
  .hero__text {
    margin-bottom: 32px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(107, 107, 108);
    line-height: 22.5px;
    font-family: "PT Sans", sans-serif;
  }
  .hero__list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px 25px 32px 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
  }
  .hero__item {
    max-width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0px;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: none;
  }
  .hero__icon-img {
    width: 68px;
    height: 68px;
    margin-bottom: 16px;
  }
  .hero__subtitle {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 24.3px;
    font-family: "Exo 2", sans-serif;
  }
  .hero__subtext {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(107, 107, 108);
    line-height: 22.5px;
    font-family: "PT Sans", sans-serif;
  }
}
@media (max-width: 500px) {
  .hero__mobile-img {
    display: block;
    width: 100%;
  }
  .hero__tablet-img {
    display: none;
  }
}
.useful-section {
  padding-bottom: 120px;
}

.useful {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 72px;
  flex-direction: column;
}

.useful__bg-content-wrapper {
  width: 100%;
  padding: 178px 0 155px;
  background-image: url(../images/useful-bg.png);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  position: relative;
  background-position: right top;
  z-index: -2;
}
.useful__bg-content-wrapper::after {
  content: "";
  position: absolute;
  width: 769px;
  height: 453px;
  top: 0;
  left: 0;
  background-image: url(../images/green-bg-useful.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.useful__title-wrapper {
  max-width: 450px;
  padding-left: 90px;
  z-index: 50;
}

.useful__title {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 600;
  color: white;
  line-height: 60px;
  font-family: "Exo 2", sans-serif;
}

.useful__list {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 62px;
  flex-wrap: wrap;
  -moz-column-gap: 140px;
       column-gap: 140px;
}

.useful__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  max-width: 447px;
}

.useful__icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(233, 233, 236);
  display: grid;
  place-items: center;
}

.useful__content-wrapper {
  max-width: 300px;
}

.useful__subtitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 27px;
  font-family: "Exo 2", sans-serif;
}

.useful__subtext {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(54, 55, 56);
  line-height: 24px;
}

@media (max-width: 1170px) {
  .useful__bg-content-wrapper {
    width: 100%;
    padding: 112px 0 105px;
    background-image: url(../images/tablet-useful-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: right top;
    z-index: -2;
  }
  .useful__bg-content-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 383px;
    top: 0;
    left: 0;
    background-image: url(../images/tablet-useful-green.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .useful__title-wrapper {
    max-width: 288px;
    padding-left: 85px;
    z-index: 50;
  }
  .useful__title {
    margin-bottom: 0px;
    font-size: 44px;
    font-weight: 600;
    color: white;
    line-height: 55px;
    font-family: "Exo 2", sans-serif;
  }
}
@media (max-width: 1020px) {
  .useful {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .useful__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 49px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .useful__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    max-width: 100%;
  }
  .useful__icon-wrapper {
    width: 90px;
    height: 88px;
    border-radius: 50%;
    background-color: rgb(233, 233, 236);
    display: grid;
    place-items: center;
  }
  .useful__content-wrapper {
    max-width: 100%;
  }
  .useful__subtitle {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 27px;
    font-family: "Exo 2", sans-serif;
  }
  .useful__subtext {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(54, 55, 56);
    line-height: 24px;
  }
}
@media (max-width: 670px) {
  .useful-section {
    display: none;
  }
}
.work-section {
  padding-bottom: 80px;
}

.work__title-wrapper {
  max-width: 500px;
  margin-bottom: 56px;
}

.work__title {
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 60px;
  font-family: "Exo 2", sans-serif;
}

.work__text {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
}

.work__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.work__item {
  width: 393px;
  padding: 271px 0 42px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
  background: white;
  background-image: url(../images/work-first.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.work__item--second-img {
  background-image: url(../images/work-second.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.work__item-third-img {
  background-image: url(../images/work-third.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.work__content-wrapper {
  max-width: 317px;
  width: 100%;
  padding-left: 32px;
}

.work__subtitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 27px;
  font-family: "Exo 2", sans-serif;
}

.work__subtext {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
}

.work__price {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 21px;
  font-family: "Exo 2", sans-serif;
  padding-bottom: 6px;
  border-bottom: 4px solid rgb(255, 206, 80);
}

@media (max-width: 1227px) {
  .work__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .work-section {
    padding-bottom: 44px;
  }
  .work__title {
    margin-bottom: 32px;
    font-size: 44px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 55px;
    font-family: "Exo 2", sans-serif;
  }
  .work__text {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(107, 107, 108);
    line-height: 22.5px;
  }
  .work__title-wrapper {
    margin-bottom: 40px;
  }
  .work__item {
    width: 100%;
    padding: 271px 0 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    background: white;
    background-image: url(../images/work-tablet-first-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }
  .work__item--second-img {
    background-image: url(../images/work-tablet-second-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }
  .work__item-third-img {
    display: none;
  }
  .work__content-wrapper {
    max-width: 100%;
    padding: 0 140px 0 32px;
  }
}
@media (max-width: 680px) {
  .work__item {
    padding: 230px 0 40px;
  }
}
@media (max-width: 550px) {
  .work-section {
    padding-bottom: 28px;
  }
  .work__title {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 35px;
    font-family: "Exo 2", sans-serif;
  }
  .work__title-wrapper {
    margin-bottom: 32px;
  }
  .work__item {
    padding: 348px 0 40px;
    background-image: url(../images/work-mobile-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }
  .work__item--second-img {
    display: none;
  }
  .work__content-wrapper {
    max-width: 100%;
    padding: 0 10px 0 32px;
  }
  .work__subtitle {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 24px;
    font-family: "Exo 2", sans-serif;
  }
  .work__subtext {
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(107, 107, 108);
    line-height: 22px;
  }
  .work__price {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(54, 55, 56);
    line-height: 20px;
    font-family: "Exo 2", sans-serif;
    padding-bottom: 6px;
    border-bottom: 4px solid rgb(255, 206, 80);
  }
}
@media (max-width: 500px) {
  .work__item {
    padding: 308px 0 40px;
  }
}
@media (max-width: 450px) {
  .work__item {
    padding: 268px 0 40px;
  }
}
@media (max-width: 400px) {
  .work__item {
    padding: 228px 0 40px;
  }
}
@media (max-width: 350px) {
  .work__item {
    padding: 198px 0 40px;
  }
}
.deliver-section {
  padding-bottom: 166px;
}

.deliver__title {
  margin-bottom: 48px;
  font-size: 48px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 60px;
  font-family: "Exo 2", sans-serif;
}

.deliver__list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 24px;
  flex-direction: column;
  padding-left: 49px;
  margin-bottom: 62px;
}

.deliver__item {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 56px;
  padding: 32px 30px 32px 96px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
  background: white;
}

.deliver__content-wrapper {
  max-width: 566px;
  width: 100%;
}

.deliver__subtitle {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(54, 55, 56);
  line-height: 25px;
  font-family: "Exo 2", sans-serif;
}

.deliver__span-line {
  display: block;
  margin-bottom: 24px;
  width: 86px;
  height: 3px;
  background-color: rgb(255, 206, 80);
}

.deliver__subtext {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 107, 108);
  line-height: 24px;
}

.deliver__video {
  width: 100%;
}

@media (max-width: 1135px) {
  .deliver-img {
    display: none;
  }
  .deliver__content-wrapper {
    max-width: 100%;
    width: 100%;
  }
  .deliver__span-line {
    width: 92px;
  }
}
@media (max-width: 715px) {
  .deliver__item {
    padding: 40px 32px 48px 56px;
  }
  .deliver__list {
    padding-left: 0;
  }
}
@media (max-width: 555px) {
  .deliver__title {
    display: none;
  }
  .deliver__list {
    display: none;
  }
}
.site-footer {
  padding: 59px 0 29px;
  background-color: rgb(11, 117, 114);
}

.footer {
  display: flex;
  align-items: top;
  justify-content: space-between;
  gap: 0px;
  margin-bottom: 80px;
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 60px;
  font-weight: 500;
  color: white;
  line-height: 90px;
  letter-spacing: 7px;
  font-family: "Familjen Grotesk";
}

.footer__menu--wrapper, .footer__model--wrapper, .footer__contact {
  max-width: 134px;
  padding-top: 21px;
}

.footer__menu-name {
  display: block;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  line-height: 19px;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 2px;
}

.footer__menu-list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 48px;
  flex-direction: column;
  width: 100%;
}

.footer__menu-model-wrapper {
  display: flex;
  align-items: top;
  justify-content: start;
  gap: 90px;
}

.footer__menu-link, .footer__modal-link {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  line-height: 19px;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 2.5px;
  transition: all 0.3s linear;
}
.footer__menu-link:hover, .footer__modal-link:hover {
  text-decoration: underline;
}

.footer__model--wrapper {
  max-width: 120px;
}

.footer__modal-list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 25px;
  flex-direction: column;
  width: 100%;
}

.footer__contact {
  max-width: 271px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
}

.footer__socia-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
  margin-bottom: 67px;
}

.footer-socia-link {
  width: 27px;
  color: white;
  display: inline-block;
  height: 27px;
  text-align: center;
  padding-top: 4px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  transition: all 0.3s linear;
}
.footer-socia-link:hover {
  color: rgb(11, 117, 114);
  border-color: rgb(255, 206, 80);
  background-color: rgb(255, 206, 80);
}

.footer__contact-phone {
  margin-bottom: 48px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  line-height: 19px;
  font-family: "Exo 2", sans-serif;
  transition: all 0.3s linear;
}
.footer__contact-phone:hover {
  text-decoration: underline;
}

.footer__contact-btn {
  width: 100%;
  padding: 8px 0;
  background-color: rgb(255, 150, 25);
  border-radius: 0;
  border: 1px solid rgb(255, 150, 25);
  transition: all 0.3s linear;
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  font-family: "Open sans", sans-serif;
  text-align: left;
  padding: 11px 11px;
  position: relative;
}
.footer__contact-btn::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 8px;
  top: 0;
  bottom: 0;
  right: 9px;
  margin: auto 0;
  background-image: url(../images/Arrow-img.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer__contact-btn:hover {
  background-color: transparent;
  border-color: rgb(255, 150, 25);
}

.footer__text {
  text-align: center;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  line-height: 18px;
  letter-spacing: 2.6px;
  font-family: "Exo 2", sans-serif;
}

@media (max-width: 900px) {
  .site-footer {
    padding: 30px 0 29px;
  }
  .footer {
    margin-bottom: 35px;
  }
  .footer__logo-link {
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    line-height: 45px;
    letter-spacing: 5.2px;
    font-family: "Familjen Grotesk";
  }
  .footer__menu-model-wrapper {
    display: flex;
    align-items: top;
    justify-content: start;
    gap: 60px;
  }
  .footer__menu--wrapper, .footer__model--wrapper, .footer__contact {
    max-width: 101px;
    padding-top: 10px;
  }
  .footer__menu-name {
    margin-bottom: 13px;
    font-size: 8px;
    font-weight: 600;
    color: white;
    line-height: 12px;
    font-family: "Exo 2", sans-serif;
    letter-spacing: 1.9px;
  }
  .footer__menu-list {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 27px;
  }
  .footer__menu-link, .footer__modal-link {
    margin-bottom: 0px;
    font-size: 8px;
    font-weight: 500;
    color: white;
    line-height: 12px;
    font-family: "Exo 2", sans-serif;
    letter-spacing: 2px;
  }
  .footer__model--wrapper {
    max-width: 91px;
    width: 100%;
  }
  .footer__modal-list {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 11px;
  }
  .footer__contact {
    width: 100%;
    max-width: 144px;
  }
  .footer__socia-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    margin-bottom: 48px;
  }
  .footer-socia-link {
    width: 14px;
    height: 14px;
    padding-top: 0px;
    position: relative;
    display: grid;
    place-items: center;
  }
  .footer-icon-svg {
    width: 8px;
    height: 9px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .footer-icon-second-svg {
    width: 5px;
    height: 9px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .footer__contact-phone {
    margin-bottom: 41px;
    font-size: 8px;
    font-weight: 500;
    color: white;
    line-height: 12px;
    font-family: "Exo 2", sans-serif;
  }
  .footer__contact-btn {
    width: 100%;
    padding: 0px 0;
    background-color: rgb(255, 150, 25);
    border-radius: 0;
    border: 1px solid rgb(255, 150, 25);
    transition: all 0.3s linear;
    font-size: 6px;
    font-weight: 600;
    line-height: 9px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Open sans", sans-serif;
    padding: 8px 8px;
    position: relative;
  }
  .footer__contact-btn::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto 0;
    background-image: url(../images/arrow-tablet-img.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .footer__text {
    margin-bottom: 0px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    line-height: 15px;
    font-family: "Exo 2", sans-serif;
  }
}
@media (max-width: 550px) {
  .site-footer {
    padding: 14px 0 29px;
  }
  .footer {
    margin-bottom: 16px;
    flex-direction: column;
  }
  .footer__logo-link {
    margin-bottom: 23px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 30px;
    letter-spacing: 4px;
    font-family: "Familjen Grotesk";
  }
  .footer__menu-model-wrapper {
    display: flex;
    align-items: top;
    justify-content: start;
    gap: 50px;
    margin-bottom: 25px;
  }
  .footer__menu--wrapper, .footer__model--wrapper, .footer__contact {
    max-width: 81px;
    padding-top: 0px;
  }
  .footer__menu-name {
    margin-bottom: 26px;
  }
  .footer__menu-list {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 27px;
  }
  .footer__model--wrapper {
    max-width: 82px;
    width: 100%;
  }
  .footer__modal-list {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
  }
  .footer__contact {
    max-width: 100%;
    text-align: left;
  }
  .footer__socia-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    margin-bottom: 63px;
  }
  .footer-socia-link {
    width: 10px;
    height: 10px;
    position: relative;
    display: grid;
    place-items: center;
  }
  .footer-icon-svg {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .footer-icon-second-svg {
    width: 3px;
    height: 5.8px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .footer__contact-phone {
    margin-bottom: 23px;
    font-size: 8px;
    font-weight: 500;
    color: white;
    line-height: 12px;
    font-family: "Exo 2", sans-serif;
  }
  .footer__contact-btn {
    width: 100%;
    padding: 0px 0;
    background-color: rgb(255, 150, 25);
    border-radius: 0;
    border: 1px solid rgb(255, 150, 25);
    transition: all 0.3s linear;
    font-size: 10px;
    font-weight: 600;
    line-height: 15px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Open sans", sans-serif;
    padding: 8px 0px 8px 60px;
    position: relative;
  }
  .footer__contact-btn::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 8px;
    top: 0;
    bottom: 0;
    right: 14px;
    margin: auto 0;
    background-image: url(../images/Arrow-img.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}/*# sourceMappingURL=main.css.map */