$title-clr:rgba(54, 55, 56, 1);
$text-clr:rgba(107, 107, 108, 1);
$yellow-clr:rgba(255, 206, 80, 1);
$green-clr:rgba(11, 117, 114, 1);
$grey-clr:rgba(233, 233, 236, 1);
$white-clr:white;
$line-clr:rgba(215, 215, 221, 1);